@import "mixins";
@import "header";
@import "step_section";
@import "partner_choice";
@import "ideas";
@import "footer";
@import "slider";

* {
    margin: 0;
    padding: 0;
}

.wrapper {
  min-width: 320px;
  margin: 0 auto;
}
// @media (min-width: 768px) {
//   .wrapper {
//     min-width: 768px;
//   }
// }
// @media (min-width: 1440px) {
//   .wrapper {
//     min-width: 1440px;
//   }
// }
